{
  "extends": "airbnb",
  "rules": {
    "no-mixed-operators": [0],
    "no-param-reassign": [0],
    "no-restricted-properties": [0],
    "class-methods-use-this": [0],
    "max-len": [2, 120],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }]
  },
  "env": {
    "browser": true,
    "jest": true
  }
}
